<div class="header">
  <div class="container">
    <div class="header-left">
      <h3>Investment Information</h3>
    </div>
    <div class="header-right">
      <a href="/list">記事一覧</a>
    </div>
    <div class="header-right">
      <a href="/">トップ</a>
    </div>
  </div>
</div>
