<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Investment Info.</title>
    <link rel="stylesheet" href="/css/style-info.css">
    <link rel="stylesheet" href="/css/style-header.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <%- include('header'); %>
    <div class="info-title" style="background: url(/images/info-image.jpg)">
      <h1>サイト概要</h1>
      <p>このサイトでは株式投資に関わる役立つ情報を発信しています。</p>
      <p>記事を読むことで投資に関する知識を増やすことができます。</p>
      <p>知識を増やすことで有望な銘柄を見つけることができるようになります。</p>
      <p></p>
      <footer>
        <a class="btn sub" href="/">トップにもどる</a>
      </footer>
    </div>    
  </body>
</html>
