<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Investment Info.</title>
    <link rel="stylesheet" href="/css/style-top.css">
    <link rel="stylesheet" href="/css/style-header.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <%- include('header'); %>
    <div class="top-title" style="background: url(/images/top-image2.jpg)">
      <h1>Investment Information</h1>
      <a href="/info" class="btn">サイト概要</a>
      <a href="/emaxisneo" class="btn">おすすめ</a>
      <a href="/list" class="btn">記事一覧</a> 
    </div>
    
  </body>
</html>
